:root {
    --light-purple: #837CF2;
    --dark-purple: #4944D5;
    --white: #E4E2FD;
    --dark-blue: #0303D3;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: var(--white);
    background-color: var(--light-purple);
    font-size: 20px;
}

input {
    font-size: 16px;
    padding: 5px 10px;
    margin-top: 10px;
    background: none;
    border: none;
    color: var(--dark-blue);
    border-bottom: 2px solid var(--dark-blue);
}

input::placeholder {
    color: var(--dark-blue);
}

button {
    padding: 10px;
    margin-left: 20px;
    color: white;
    font-weight: bold;
    background: none;
    border-radius: 10px;
    text-transform: uppercase;
    cursor: pointer;
    background-color: var(--dark-blue);
    transition: background-color .3s, color .3s;
    border: 0;
}

button:hover {
    background-color: var(--dark-blue);
    border: 0;
}

.wrapper {
    width: 800px;
    background-color: var(--white);
    border-radius: 25px;
    margin: 0 2vh;
    border: 5px solid var(--dark-purple);
    overflow: hidden;
}

.top {
    height: 350px;
}

.top h1 {
    text-transform: uppercase;
    text-align: center;
    padding: 10px;
    margin: 20px 15px 40px;
    color: var(--dark-blue);
    border-bottom: 3px solid grey;
}

.top h1 span {
    color: var(--light-purple)
}

.main-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 120px;
}

.main-input {
    margin-top: 50px;
}

.city-name {
    margin-top: 30px;
    font-size: 40px;
    color: var(--dark-purple);
}


.bottom {
    width: 100%;
    height: 270px;
    align-self: flex-start;
    background-color: var(--dark-blue);
    border-radius: 25px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    padding: 20px 20px;
}


.weather-info {
    display: flex;
    flex-direction: column;
}

.weather-info h1 {
    font-size: 20px;
    padding: 5px;
    text-transform: uppercase;
    font-weight: bold;
}


.weather-info p {
    border-top: 2px solid var(--light-purple);
    font-size: 15px;
    padding: 10px 0;
    font-weight: normal;
}

.photo {
    width: 150px;
    height: 200px;
    object-fit: contain;
}

/* TODO:
POPRACOWAC NAD KOLORAMI
ZROBIC VP */